manifest {
  description = 'VZV assembling pipeline implemented with Nextflow' 
  author = 'Agletdinov Matvey'
}
conda {
    enabled = true
    useMamba = true
    createTimeout = '4h'
}

dag.overwrite = true

profiles {
    local {
        process {
            executor = 'local'
        }
        process {
            withName: 'KRAKEN2' {
                maxForks = 1
                cpus = 40
            }
        }
        params.kraken2db = "/export/home/public/agletdinov_shared/kraken2db/plusPFP"
    }
    slurm {
        process {
            executor = 'slurm'
        }
        process {
            withName: 'KRAKEN2' {
                maxForks = 10
            }
        }
        params.kraken2db = "/export/home/public/agletdinov_shared/kraken2db/minikraken2_v2_8GB_201904_UPDATE"
    }
}