manifest {
  description = 'VZV assembling pipeline implemented with Nextflow' 
  author = 'Agletdinov Matvey'
}
conda {
    enabled = true
    useMamba = true
    createTimeout = '4h'
}

dag.overwrite = true

profiles {
    local {
        process {
          executor='local'
        }
        process KRAKEN2 {
          maxForks 1
        }
    }
    slurm {
        process {
          executor='slurm'
        }
        process KRAKEN2 {
          maxForks 10
        }
    }
}